---
layout: default
---
<div class="home">
  <section class="hero">
    <div class="container">
      <div class="filter-wrap home">
        <div class="column">

        </div>
        <div class="column">
          {%- if page.title -%}
          <h1 class="align-left serif">{{ page.title }}</h1>
          {%- endif -%}
          <h2 class="align-left serif">Lifestyle Journalist and<br>Creative Fiction Writer</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="filter-wrap greeting">
        <div class="column">
          <img src="/images/headshot-2021.jpg" alt="Jersey Griggs" />
        </div>
        <div class="column">
          <p class="no-margin-top">Hey there! Thanks for stopping by.</p>
          <p>I’m a Maine-based  writer with a passion for new perspectives, interesting connections, and thoughtful words. I cover wellness, outdoor adventure, travel, and lifestyle topics on digital and print platforms.
          </p>
          <p>I'm a contributor to Business Insider, Condé Nast Traveler, Newsweek, Roadtrippers Magazine, Outside Magazine, The Discoverer, and The Daily Passport, to name a few. </p>
          <p>I also write creative fiction and poetry, and am currently seeking representation forn Dark Summer, the first installment of my Young Adult paranormal mystery series, Widow Lake.
          </p>If you’re an agent interested in learning more, or you have a writing or editing project you'd like to discuss, feel free to reach out to me directly — I’d love to hear from you!

        </div>
      </div>
    </div>
  </section>
  <section class="section tight-padding-top zig-zag">
    <div class="text container">
      {% include testimonial-slider.html %}
    </div>
  </section>
  <section class="section topo-map">
    <div class="container">
      <h2>Latest Published Work</h2>
      <div class="portfolio-wrap home">
        {% assign portfolio = site.data.portfolio %}
        {% for content in portfolio limit:6 %}
        <div class="portfolio card mix {{ content.category | remove: " "  | remove: "&" }}">
          <a target="_blank" href="{{ content.url }}">
            <div class="img-container">
              <img src="{{ content.image }}" alt="{{ content.title }}"/>
            </div>
            <div class="card-content">
              <h4 class="no-margin">{{ content.title }}</h4>
              <small><a class="muted no-decoration" target="_blank" href="{{ content.url}}">{{ content.category }}</a></small>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>
      <p class="align-center"><a href="/portfolio/"><strong>View Portfolio</strong></a></p>
    </div>
  </section>
  <section class="section dark-topo" id="contact">
    <div class="text container align-center inverted">
          <h2>Contact Me</h2>
          <p>Interested in discussing a project? I'd love to hear from you! Email me at <strong>jerseygriggs.writes@gmail.com</strong>.</p>
    </div>
  </section>
  <!-- Jarallax -->
  <script src="https://unpkg.com/jarallax@1.10/dist/jarallax.min.js"></script>

  <script>
    var mq = window.matchMedia("(min-width: 767px)");
    if (mq.matches) {
      jarallax(document.querySelectorAll('.jarallax'), {
        speed: 1.7,
        type: "scroll-opacity"
      });
    }
  </script>
